


.table {
  margin-bottom: 0;
}
.table td {
  vertical-align: middle;
  border-top: 0px;
}


h1 {    
  margin-top: 20px;
  margin-bottom: 20px; 
}
h2 {    
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: dodgerblue;
}
.main-header {     
  background: turquoise; 
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
 
.table {
  border-top: 1px solid #787878;
}
.table,
.table tr {
  border-bottom: 1px solid #787878;
}
.table-1 > tbody > tr > td:nth-of-type(3),
.table-2 > tbody > tr > td:nth-of-type(3) {
  padding: 0;
}

.table .table {
  border-top: 0px solid #787878;
}

.table .table:last-of-type, 
.table .table tr:last-of-type {
  border-bottom: 0px solid #787878;
}

 




.nav.flex-column {
  position: fixed;
  z-index: 10;
  background: #fff;
  width: 200px;
  left: 0;
}
.nav.flex-column a {
  color: #666;
}
.nav.flex-column a.active {
  color: #0b98ea;
  font-weight: bold;
}
.inner-container {
  padding-left: 200px;
}




div[class^="col-md-"] h4 {
  font-size: 1.2rem;
}