/**
 * Primary color:           #ff9800
 * Header background color: #8ca3ad
 * App background color:    #cfd8dc
*/
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #cfd8dc;
  overflow-y: scroll;
}
.App > .AppContent {
  position: relative;
  margin-bottom: 60px; 
  /*-- We want the content to occupy the rentire height 
  real estate left by 'AppHeader' and 'AppFooter' --*/
  flex: 1; 
  width: 100%;
  max-width: 600px;
  z-index: 1;
}


.App > .AppHeader,
.App > .AppFooter {  
  z-index: 2;
}

@media(max-width: 765px) {  
  .App > .AppContent { 
    margin-top: 100px; /* header's height */
  } 
}


/*-- larger screens --*/
@media(min-width: 766px) { 
  .App > .AppContent {
    margin: auto;
    margin-top: 60px; 
  } 
}


 




 


/**
 * Top level views styling
 * ------------------
*/
/* home view */
.App.home .AppFooter,
.App.around-us .AppFooter {
  display: none;
}
.App.home .AppContent,
.App.around-us .AppContent {
  margin-bottom: 0;
}
.App.home .AppContent > section,
.App.home .AppContent > section .ViewMap {
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
}


