

.ViewAroundUs .btn-post,
.ViewAroundUs .btn-search { 
  position: fixed;
  z-index: 9; 
  right: 16px;
}

.ViewAroundUs .btn-search { 
  bottom: 86px;
  background: rgb(137, 155, 255);
    border: 1px solid rgb(137, 155, 255);
    color: #fff;
}
.ViewAroundUs .btn-post {  
  bottom: 16px;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.ViewAroundUs .btn-primary span { 
  display: none;
}
.ViewAroundUs .btn-primary .svg-inline--fa {
  margin: 0;
}

.ViewAroundUs .frame-search {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 600px;
}

/*
.ViewAroundUs {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.ViewAroundUs .btn-primary {
  position: fixed; 
  z-index: 10;
}
*/


 
/*-- small screens --*/
/*
@media(max-width: 765px) { 
  .ViewAroundUs { 
   background: #939496;
  }
  .ViewAroundUs__fig {
    position: absolute;
    top:0;
    left: 0;
  }
  .ViewAroundUs .btn-primary .svg-inline--fa { 
    margin: 0;
  }
  .ViewAroundUs .btn-primary span { 
    display: none;
  }
  .UserMessageList {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
  }
  .UserMessageList__title {
    position: relative;
  }
}
*/

/*-- larger screens --*/
/*
@media(min-width: 766px) {  
  .ViewAroundUs .btn-primary { 
    left: calc(50% - 150px);
    width: 300px;
    bottom: 300px; 
  }
  .UserMessageList {
    position: fixed;
    top: 0;
    padding-top: 160px;
    right: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 400px;
    z-index: 10; 
  }
  .UserMessageList__title { 
    transform: rotate(-90deg);
    position: fixed;
    top: 250px;
    right: 295px;
    z-index: 10; 
  }
}
*/