
.AppHeader { 
  padding: 10px 15px;  
  background-color: #8ca3ad;   
}
.AppHeader__top {
  display: flex;
  align-items: center; 
  width: 100%;
}

.AppHeader .AppBrand {
  margin: 0; 
}
.AppHeader .AppBrand a { 
  color: #fff;
  text-decoration: none;
}
.AppHeader .AppBrand small {
  position: relative;
  top: -1px;
  font-size: 1rem;
  font-style: italic;
  color: #ff9800; 
}

.AppHeader .btn-toggle-vertNav--sm,
.AppHeader .btn-toggle-vertNav--lg button,
.AppHeader .btn-toggle-vertNav--lg button:hover {
  background: transparent;
  border: 0px solid;
}
.AppHeader .btn-toggle-vertNav--sm {
  padding-left: 0;
  padding-right: 0;
  width: 50px;
}

.AppHeader .btn-toggle-vertNav--lg.dropdown .nav-item a {
  width: 100%;
  display: block;
  padding: 6px 20px;
} 


@media(max-width: 765px) {  
  .AppHeader {
    position: fixed; 
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px 15px;  
    flex-direction: column;
  }
  .AppHeader__top {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .AppHeader .user-avatar{ 
    margin-right: 10px;
  }
  .AppHeader .AppBrand { 
    font-size: 1.1rem; 
  }
  .AppHeader .AppBrand small { 
    font-size: 0.8rem;
  }
  .AppHeader .btn-toggle-vertNav--lg {
    display: none;
  }
  .AppHeader .HorizontalNav {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .AppHeader .HorizontalNav .nav-item {
    width: initial;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }
  .AppHeader .HorizontalNav a {
    width: 100%;
    display: block;
    padding: 10px 10px 6px 10px;
    color: #fff;
    border-bottom: 4px solid transparent;
  }
  .AppHeader .HorizontalNav .svg-inline--fa { 
    font-size: 1rem;
  }
  .AppHeader .HorizontalNav a:hover,
  .AppHeader .HorizontalNav a:focus,
  .AppHeader .HorizontalNav a:active,
  .AppHeader .HorizontalNav a.active {
    border-bottom: 4px solid #ff9800;
    text-decoration: none;
  }
  .AppHeader .HorizontalNav a.active .svg-inline--fa {
    color: #ff9800; 
  }
}

@media(min-width: 766px) { 
  .AppHeader { 
    padding: 20px;  
  }
  .AppHeader__top { 
    justify-content: space-between;    
    margin-bottom: 20px;  
  }
  .AppHeader .AppBrand { 
    font-size: 1.5rem; 
  }
  .AppHeader .AppBrand small { 
    font-size: 1rem;
  } 
  .AppHeader .btn-toggle-vertNav--sm { 
    display: none;
  }
}