
.AppFooter {   
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: transparent; 
}
   
.AppFooter a {
  color: #333;
  font-size: 0.8rem;
} 
.AppFooter p {
  margin-bottom: 0;
} 